body {
  padding-top: 50px;
}
.starter-template {
  padding-top: 90px;
  text-align: center;
}
.navbar-brand {
    font-size: 40px;
    padding-top: 7px;
}
.navbar-form {
    margin-top: 14px;
}
.total {
    float: left;
    margin-top: -15px;
    font-size: 17px;
    font-family: "Courier New", Courier, monospace;
}
