{% extends "base.html" %}

{% block error %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-danger" role="alert">
    {% for message in messages %}
     {{ message }}</br>
    {% endfor %}
    </div>
    <div>
      <button onclick="goBack()" class="btn btn-default btn-lg">Go Back</button>
    </div>
  {% endif %}
{% endwith %}
{% endblock %}

{% block body %}
{% if entries %}
  {% if total %}
    <span class="total">{{ total }} records found</span>
  {% endif %}
  <table border="1" id="sort" class="sort">
      <thead>
        <tr>
            <th>#</th>
            <th>IP</th>
            <th>Hostname</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Country</th>
            <th>Date</th>
        </tr>
      </thead>
      <tbody>
  {% for entry in entries %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ entry.ip }}</td>
            <td>{{ entry.hostname }}</td>
            <td>{{ entry.latitude }}</td>
            <td>{{ entry.longitude }}</td>
            <td>{{ entry.country }}</td>
            <td>{{ entry.date }}</td>
        </tr>
  {% endfor %}
     </tbody>
  </table>
{% endif %}
{% endblock %}

{% block form %}
<div class="form-group">
  <form method='POST' actions='/' class="navbar-form navbar-right" role="search">
    {{ form.hidden_tag() }}
    {{ form.search(class_="form-control", placeholder="field:pattern") }}
    <input type="submit" class="btn btn-default", value="Search">
  </form>
</div>
{% endblock %}
